@import "tailwindcss";

/* 폰트 */
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("/fonts/NotoSansKR-Regular.ttf");
  font-weight: normal;
}

html {
  font-size: clamp(14px, 4vw, 18px);
  font-family: "NotoSansKR-Regular", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex: 1;
}
main > section,
main > article {
  width: 100%;
}

/* 기본 스크롤바 크기 */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.625rem;
}

/* 스크롤바 핸들(사용자가 잡는 부분) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.625rem;
  border: 2px solid #f1f1f1;
}

/* 스크롤바 핸들이 hover 될 때 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MuiButton-root {
  font-family: "NotoSansKR-Regular", "sans-serif";
}
